/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-main: "Inter", sans-serif;
  --font-accent: "PressStart2P", fantasy;
  --card-text-weight: 410;
  --card-title-weight: 715;
  --theme-main-color: #000000;
  --theme-bg-color: #ffffff;
  --animation-fill-color: #ff0000;
  --label-stroke-color: #ffffff;
  --heart-contour: #000000;
  --heart-main-body: #ff0000;
  --heart-core: #ffffff;
  --heart-sparks: #ff0000;

  --container-width: clamp(23.438rem, 16.285rem + 30.516vi, 43.75rem);
  --block-size: clamp(20.438rem, 19.705rem + 3.661vi, 23rem);

  --bg-gradient:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
}
